@charset "utf-8";
/* CSS Document */

body{
	background-image:url('../assets/img/space_1920x1080.jpg');
	/*background-attachment: fixed;
	background-repeat:no-repeat;*/
	
	background-color: #040D09;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:top;
	overflow-x:hidden;
	margin: 20px auto;
	}
	
/*@font-face{
	font-family: Quicksand;
	src: url(fonts/quicksand/"Quicksand_Regular.otf") format("opentype");
	}
@font-face
{
font-family: quicksand;
src: url(fonts/quicksand/Quicksand_Bold.otf);
font-weight:bold;
} */

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url(http://themes.googleusercontent.com/static/fonts/quicksand/v3/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

li {list-style-type: none; font-family:Quicksand;}

.info{
	margin-bottom:20px;
	margin-left:-40px;
	width:270px;
	margin-top:-600px;
	color:#FC0;
	text-shadow: 0em 0em .1em #555, 0em 0em .1em #555;
	}
	
#title{
	margin-top: 55px;
	}
	
#space{
	margin-bottom: 10px;
	}
	
#line{
	margin-bottom: 30px;
	}
	
.center{
text-align: center;
margin-left:auto;
margin-right:auto;
}

#filter{
	text-align: left;
	}

#stars{
	margin-left: 26px;
	margin-top: -172px;
	width:330px;
	z-index:3;
	}
#quickinfo{
	margin-top: -154px;
	margin-left: 80px;
	text-shadow: 0em 0em .8em #fff, 0em 0em .8em #fff, 0em 0em .8em #fff, 0em 0em .8em #fff
	}
#left-title{
	margin-left: 120px;
	margin-bottom: -34px;
	z-index:-99;
	}
#left-panel{
	margin-left: 150px;
	margin-top:4px;
	}
#right-title{
	margin-left:60px;
	}
#right-panel{
	margin-left: 116px;
	margin-top:-34px;
	}
#drop-arrow{
	margin-left: 436px;
	margin-top:-85px;
	}
	
#search{
	margin-top: 60px;
	margin-left: 120px;
	margin-bottom:20px;
	}
	
.explore{
	margin-left: 70px;
	margin-top: -26px;;
	}
	
#filter-list{
	padding-top:0px;
	margin-top: -600px;
	margin-left: 20px;
	width:280px;
	}
	
.fade *{
	-moz-animation:fade 2.5s; /*Firefox*/
	-webkit-animation:fade 2.5s; /* Chrome, Safari, Opera */
	animation:fade 2.5s;
	}
	
#results{
	background-color: rgba(34, 34, 34, 0.8);
	color: white;
	height: 600px;
	width: 800px;
	
	}
	
h3{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color: white; 
	padding: 20px;
	margin-bottom: 0px;
	}
	
.lines{
	margin: 0 auto;
	width: 760px; 
	height: 500px;
	overflow-Y: scroll;
	}
	
li{
	margin-bottom:0px; 
	height: 30px;
	list-style-position: inside;
	font-size: 1.1em;
	padding-left: 20px;
	padding-top:6px;
}

li.active {
    color:orange;
}

.dark{
	background-color: rgba(51, 51, 51, 0.75);
}
.light{
	background-color: rgba(85, 85, 85, 0.75);
}	
	
#left-side, #middle, #right-side{
	float: left;
	}

#middle{
	margin-left: 60px;
	margin-top: 126px;
	}
	
#right-side{
	margin-top: 110px;
	margin-left: 0px;
	padding-left:-60px;
	}
	
#content{
	position: absolute;
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;
	}

h1{
	color: white;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 3em;
	font-weight:100;
	-ms-transform: scale(1.3,0.7); /* IE 9 */
	-webkit-transform: scale(1.3,0.7); /* Chrome, Safari, Opera */
	transform: scale(1.3,0.7);
	}	
h2{
	color: white;
	font-family:Quicksand;
	/*width: 200px;*/
	}
h4{
	font-family: "Quicksand", sans-serif;
	font-size: 3.3em;
	color: #555;
	/*font-weight: 900;*/
	/*-webkit-text-stroke: 2px #0BC1FE;*/
	-moz-transition:text-shadow .8s;
	-webkit-transition:text-shadow .8s; /* For Safari 3.1 to 6.0 */
	transition:text-shadow .8s;
	}
h5{
	font-family: "Myriad Pro", Verdana, Helvetica, sans-serif, Tahoma;
	font-size: 30px;
	color: #CCC;
	font-weight: 100;
	margin-top: 38px;
	margin-left: -50px;
	}
	
#skew{
	color: white;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	-ms-transform: skew(0deg,-16deg); /* IE 9 */
	-webkit-transform: skew(0deg,-16deg); /* Chrome, Safari, Opera */
	transform: skew(0deg,-16deg);
	}
	
.skew-info{
	/*color: white;*/
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	-ms-transform: skew(0deg,4deg); /* IE 9 */
	-webkit-transform: skew(0deg,4deg); /* Chrome, Safari, Opera */
	transform: skew(0deg,4deg);
	margin-bottom:6px;
	}

#skew-dist{
	color: white;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	-ms-transform: skew(0deg,-10deg); /* IE 9 */
	-webkit-transform: skew(0deg,-10deg); /* Chrome, Safari, Opera */
	transform: skew(0deg,-10deg);
	margin-bottom: -16px;
	}
	
.skew-stars{
	-ms-transform: skew(0deg,-5deg); /* IE 9 */
	-webkit-transform: skew(0deg,-5deg); /* Chrome, Safari, Opera */
	transform: skew(0deg,-5deg);
	margin-right:-40px;
	}
	
.skew-qinfo{
	-ms-transform: skew(0deg,5deg); /* IE 9 */
	-webkit-transform: skew(0deg,5deg); /* Chrome, Safari, Opera */
	transform: skew(0deg,5deg);
	}
	
.glow:hover{text-shadow: 0em 0em .2em #fff, 0em 0em .2em #fff, 0em 0em .2em #fff; 0em 0em .2em #fff}

.anim-left{
	width:298px;
	height:100%;
	-moz-animation:drop 2s; /*Firefox*/
	-webkit-animation:drop 2s; /* Chrome, Safari, Opera */
	animation:drop 2s;
	}

h2:link {color:white;}      /* unvisited link */
h2:visited {color:white;}  /* visited link */
h2:hover {color:#0CF;}  /* mouse over link */
h2:active {color:#71F1F4;}  /* selected link */

a{text-decoration:none;}

#triangle-down {
	position: absolute;
	top:120px;
	left:420px;
	width: 0;
	height: 0;
	border-left: 28px solid transparent;
	border-right: 38px solid transparent;
	border-top: 28px solid #4DD2FF;/*#4DD2FF*/
	z-index:2;
	/*float:right;
	margin-top:-120px;
	margin-right:18px;*/
}
#triangle-shadow {
	position: absolute;
	top:125px;
	left:414px;
	width: 0;
	height: 0;
	border-left: 28px solid transparent;
	border-right: 38px solid transparent;
	border-top: 28px solid #555;
	z-index:1;
	/*float:right;
	margin-top:-116px;
	margin-right:10px;*/
}

/*Filter Animation===========================*/
/* Firefox */
@-moz-keyframes  
{
from {opacity:0.0}
to {opacity:1.0}
} 
/* Chrome, Safari, Opera */
@-webkit-keyframes 
{
from {opacity:0.0}
to {opacity:1.0}
}	
/* Safari and Chrome */
@-webkit-keyframes fade 
{
0%   {color: rgba(255, 255, 255, 0.0);}
55%  {color: rgba(255, 255, 255, 0.0);}
75%  {color: rgba(255, 255, 255, 0.5);}
100% {color: white;}
} 
/* Safari and Chrome */
@-moz-keyframes fade 
{
0%   {color: rgba(255, 255, 255, 0.0);}
55%  {color: rgba(255, 255, 255, 0.0);}
75%  {color: rgba(255, 255, 255, 0.5);}
100% {color: white;}
} 

@-moz-keyframes drop 
{
from {height:0}
to {height:600px}
} 
/* Chrome, Safari, Opera */
@-webkit-keyframes drop
{
from {height:0}
to {height:600px}
}	

/*SEARCH===========================================*/
	#tfnewsearch{
		float:left;
		-ms-transform: scale(1,1.5); /* IE 9 */
	-webkit-transform: scale(1,1.5); /* Chrome, Safari, Opera */
	transform: scale(1,1.5);
		/*padding:6px 20px;*/
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 0px 0px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 0px 0px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
/*=================================================*/