@charset "utf-8";
/* CSS Document */



body {
    background:#0CF;
}

div {
	text-align:center;
    width:300px;
    height:150px;
    background:#555;
    margin:60px;
    position:relative;
    margin-left: 50px;
}
div:before {
    content:"";
    position:absolute;
    background: #555;
    top:0;
    left:-28px;
    bottom: 0;
    width: 100px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
}
